*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  color: #444;
  background-color: #f3f3f3;
  padding: 1rem 2rem;
}
::selection {
  background-color: #730039;
  color: #fff;
}
